
.nav-bar {
    background-color: var(--trim-colour);
    padding: 5px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    font-size: var(--clickables-font-size);
}

.nav-link:hover {
    color: var(--bg-colour-light);
    transition: ease 0.5s;
}

